/* 
---------------------
RESET
---------------------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #141922;
}

header {
    height: 90px;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 999;
}

.container {
    position: relative;
    height: calc(100vh - 90px);
    overflow: auto;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}

.navigazione {
    background-color: pink;
    width: 230px;
    height: 400px;
}

footer {
    height: 90px;
    background-color: #282828;
}

.mini {
    background-color: red;
    height: 50vh;
    width: calc(100% / 6);
    margin-top: 90px;
    border: 2px solid white;
}