/* 
---------------------
RESET
---------------------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141922;
    font-family: 'Montserrat', sans-serif;
}

main {
    height: calc(100vh - 90px);
    display: flex;
    /* provare overflow hidden */
}

/* 
---------------------
MAIN ASIDE SX
---------------------
*/

.navigazione {
    background-color: black;
    width: 230px;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
}
.logocontainer {
    max-width: 138px;
    margin-bottom: 24px;
}
.logosmall {
    display: none;
}

.imputcontainer {
    display: flex;
    margin-bottom: 10px;
}

.imputcontainer:hover {
    color: white;
    cursor: pointer;
}

.iconscontainer {
    max-width: 25px;
}
.logocontainer img,
.iconscontainer img {
    width: 100%;
}

.imput {
    color: #a3a3a3;
    font-size: 14px;
    align-self: center;
    margin-left: 5px;
    font-weight: 600;
}

.imput:hover {
    color: white;
    cursor: pointer;
}

.sezplaylist {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.sezplaylist .playlist {
    color: white;
    font-weight: 600;
    margin-top: 17px;
}
.pluscontainer {
    display: flex;
    gap: 5px;
    margin-top: 14px;
}


.pluscontainer i {
    background-color: #a3a3a3;
    font-size: 20px;
    padding: 10px;
}

.pluscontainer i:hover {
    background-color: white;
}

.sezplaylist ul {
    list-style-type: none;
    overflow: auto;  
}

.sezplaylist ul li {
    color: #a3a3a3;
    font-size: 14px;
    font-weight: 600;
    margin-top: 15px;
}

.sezplaylist ul li:hover {
    color: white;
    cursor: pointer;
}

.margintop {
    margin-top: auto;
}

.utente {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;  
}
.iconautente img {
    background-color: #808080;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.nomeutente {
    color: white;
    font-weight: 700;
}

/* 
---------------------
MAIN ASIDE DX
---------------------
*/

.fisso {
    height: 90px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 230px;
    top: 0px;
    right: 0px;
    z-index: 999;
}

.button {
    position: absolute;
    color: white;
    padding: 14px 41px;
    top: 20px;
    right: 20px;
    border: 2px solid white;
    border-radius: 25px;
    font-size: 14PX;
    font-weight: 600;
}

.button:hover {
    padding: 16px 43px;
    font-size: 16PX;
    font-weight: 600;
    cursor: pointer;
}

.prova {
    width: calc(100% - 230px);
}

.sezionebrani {
    /* position: relative; */
    /* width: calc(100vw - 230px); */
    height: calc(100vh - 90px);
    overflow: auto;
    /* display: flex;
    flex-wrap: wrap; */
    padding-top: 90px; 
    padding-left: 20px;
    padding-right: 20px;
}

.sezionebrani ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
}

.sezionebrani ul li {
    color: #65686d;
    font-size: 14px;
    font-weight: 700;
    padding: 10px;
}

.sezionebrani ul li:hover {
    color: white;
    cursor: pointer;
}

.sezionebrani h2 {
    color: white;
    margin-top: 40px;
    margin-bottom: 30px;
}

.sezionebrani > small {
    margin-top: -15px;
    color: #a3a3a3;
    margin-bottom: 30px;
}

.imgcontainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.infolocandina {
    text-align: center;
    color: white;
    padding: 5px;
    width: calc(100% / 6);
    position: relative;
}

.locandina {
    width: 100%;
    margin-bottom: 20px;
}

.locandina:hover {
    opacity: 0.5;
    cursor: pointer;
}

.infolocandina h3 {
    font-size: 14px;
    margin-bottom: 10px;
}

.infolocandina small {
    color: #a3a3a3;
    font-size: 12px;
}

.infolocandina2 {
    text-align: center;
    color: white;
    padding: 5px;
    width: calc(100% / 6);
}

.locandina2 {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.locandina2:hover {
    opacity: 0.5;
    cursor: pointer;
}

.infolocandina2 h3 {
    font-size: 14px;
}

/* 
---------------------
FOOTER
---------------------
*/

footer {
    width: 100%;
    height: 90px;
    background-color: #282828;
    display: flex;
}

.sezionealbum {
    width: 20%;
    padding: 25px 10px;
    display: flex;
    align-items: center;
}
.sezionealbum img {
    margin-right: 12px;
    height: 100%;
}
.sinister {
    margin-right: 40px;
    font-size: 14px;
}

.sinister strong {
    color: white;
}

.sinister small {
    color: #a3a3a3;
}

.sinister small:hover {
    color: white;
    cursor: pointer;
    text-decoration: underline;
}
.sezionealbum .iconcine {
    display: flex;
    gap: 15px;
}
.sezionealbum .iconcine i {
    color: #a3a3a3;
}
.sezionealbum .iconcine i:hover {
    color: white;
    cursor: pointer;
}


.sezionetempo {
    width: 60%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
}

.sezionetempo ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    align-items: center;
}

.sezionetempo ul li {
    color: white;
    font-size: 16px;
}

.sezionetempo ul li:nth-child(3) {
    font-size: 30px;
}
.sezionetempo ul li:nth-child(3) :hover {
    font-size: 35px;
}

.sezionesbarra {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    font-size: 10px;
}

.sbarra {
    height: 5px;
    width: 50%;
    border-radius: 25px;
    background-color: #5a5a5a;
}

.sbarrapiccola {
    width: 20%;
    background-color: #c1c1c1;
    height: 5px;
    border-radius: 25px;
}

.sbarrapiccola:hover {
    background-color: lime;
    cursor: pointer;
}

.sezionevolume {
    width: 20%;
    padding: 30px 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: flex-end;
}

.sezionevolume ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
}

.sezionevolume ul li {
    color: white;
    font-size: 14px;
}

small {
    display: block;
}

/* 
---------------------
MEDIA QUERIES
---------------------
*/

@media screen and (max-width:878px) {
    .sezionealbum {
        width: 30%;
        padding: 25px 10px;
        display: flex;
        align-items: center;
    }
    .sezionealbum img {
        margin-right: 10px;
        height: 100%;
    }
    .sezionealbum .iconcine {
        display: flex;
        gap: 15px;
    }
    .sezionesbarra {
       gap: 15px;
    }
    .sezionetempo {
        width: 40%;
    }
    .sezionevolume {
        width: 30%;
    }
    
    .sezionebrani h1 {
        color: white;
        margin-top: 40px;
    }

    .infolocandina {
        width: calc(100% / 4);
    }
    .infolocandina2 {
        width: calc(100% / 4);
    }
}

@media screen and (max-width: 640px) {
    .sezionealbum {
        width: 30%;
        padding: 25px 10px;
        display: flex;
        align-items: center;
    }
    .sezionealbum img {
        margin-right: 12px;
        height: 100%;
    }
    .sinister {
        margin-right: 20px;
        font-size: 14px;
    }
    .sezionealbum .iconcine {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .sezionesbarra {
        gap: 10px;
    }
    .sezionetempo {
        width: 40%;
    }
    .sezionevolume {
        width: 30%;
    }
    
    .sezionebrani h1 {
        color: white;
        margin-top: 40px;
    }

    .infolocandina {
        width: calc(100% / 2);
    }
    .infolocandina2 {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 552px) {
    .navigazione {
        max-width: 50px;
        padding: 4px 10px;
    }
    .sezionebrani {
        width: calc(100vw - 50px);
    }
    .fisso {
        left: 50px;
    }
    .logobig {
        display: none;
    }
    .logosmall {
        display: block;
    }
    .imput {
        display: none;
    }
    .playlist {
        display: none;
    }
    .pluscontainer {
        display: none;
    }
    ul {
        display: none;
    }
    .nomeutente {
        display: none;
    }
    hr {
        display: none;
    }

    .sezionealbum {
        width: 30%;
        padding: 25px 10px;
        display: flex;
        align-items: center;
    }
    .sezionealbum img {
        margin-right: 10px;
        height: 100%;
    }
    .sinister {
        margin-right: 22px;
    }
    .sezionealbum .iconcine {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .sezionesbarra {
        gap: 10px;
    }

    .sezionetempo {
        width: 40%;
    }
    .sezionevolume {
        width: 30%;
    }
}